Node-red/flows.json
[{"id":"b9c8c69e.c8f478","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51e234bb.99871c","type":"mqtt-broker","name":"","broker":"mqtt://menendez91:sz5bpScEe4kxqW6w@menendez91.cloud.shiftr.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c9cac672.16ad68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e8dd7e1a.97b4c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0099cc","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0099cc","edited":true},"page-titlebar-backgroundColor":{"value":"#0099cc","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1ac6ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0099cc","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Prueba embebidos","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58331425.fc377c","type":"ui_group","name":"Magnetometro","tab":"2d2e2478.1d4fec","order":2,"disp":true,"width":"6","collapse":true},{"id":"3bc7a30.cb7a35e","type":"ui_group","name":"Temperatura","tab":"c9cac672.16ad68","order":4,"disp":false,"width":"6","collapse":false},{"id":"419a6b7e.8cb874","type":"ui_group","name":"ID","tab":"c9cac672.16ad68","order":5,"disp":true,"width":"4","collapse":true},{"id":"2d2e2478.1d4fec","type":"ui_tab","name":"Graficos","icon":"dashboard","disabled":false,"hidden":false},{"id":"d4da11a9.7d1df","type":"ui_group","name":"Giroscopio","tab":"2d2e2478.1d4fec","order":3,"disp":true,"width":"6","collapse":true},{"id":"798e76fb.ee1bb8","type":"ui_group","name":"Aceleracion","tab":"2d2e2478.1d4fec","order":4,"disp":true,"width":"6","collapse":true},{"id":"f3362e81.c2a0c","type":"ui_group","name":"Alerta","tab":"c9cac672.16ad68","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea5c6b61.a50bf","type":"function","z":"b9c8c69e.c8f478","name":"","func":"\noutputMsg = []\n\noutputMsg.push(msg.payload.id);\noutputMsg.push(msg.payload.temperatura);\noutputMsg.push(msg.payload.magnetico);\noutputMsg.push(msg.payload.giroscopio);\noutputMsg.push(msg.payload.aceleracion);\n\nmsg.payload = outputMsg;\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["180bd404.6f1fdc"]]},{"id":"2375f9cf.44f486","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"dispID","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":250,"y":220,"wires":[["31f5cf8b.6e3a6"]]},{"id":"710e20d3.efe9d","type":"debug","z":"b9c8c69e.c8f478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"31f5cf8b.6e3a6","type":"ui_text","z":"b9c8c69e.c8f478","group":"419a6b7e.8cb874","order":0,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":220,"wires":[]},{"id":"e52516b3.1ce9f8","type":"ui_gauge","z":"b9c8c69e.c8f478","name":"","group":"3bc7a30.cb7a35e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"50","x":510,"y":600,"wires":[]},{"id":"780a5a8c.d65df4","type":"ui_chart","z":"b9c8c69e.c8f478","name":"","group":"798e76fb.ee1bb8","order":0,"width":0,"height":0,"label":"Aceleracion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#f00000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":300,"wires":[[]]},{"id":"6d8c816e.8a93a","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"Aceleracion","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":270,"y":300,"wires":[["780a5a8c.d65df4","f0918647.fbc8a8"]]},{"id":"34918b96.1126b4","type":"ui_chart","z":"b9c8c69e.c8f478","name":"","group":"d4da11a9.7d1df","order":0,"width":0,"height":0,"label":"Giroscopio","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":380,"wires":[[]]},{"id":"3a0fa5d1.980d7a","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"Giroscopio","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":260,"y":380,"wires":[["34918b96.1126b4","710a6d5d.5573f4"]]},{"id":"99ace0f.003342","type":"ui_chart","z":"b9c8c69e.c8f478","name":"","group":"58331425.fc377c","order":0,"width":0,"height":0,"label":"Magnetometro","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":480,"wires":[[]]},{"id":"d7b8c7c8.83b2e8","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"Magnetometro","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":270,"y":480,"wires":[["99ace0f.003342","76b0999e.39b0c8"]]},{"id":"c6b52ff2.ae122","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"Temperatura","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":270,"y":600,"wires":[["e52516b3.1ce9f8","356dbb7d.53a8a4","48a83ded.8d0254","80dfe43e.5bd2c8","f4539f53.9c1ab"]]},{"id":"356dbb7d.53a8a4","type":"ui_toast","z":"b9c8c69e.c8f478","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":530,"y":640,"wires":[]},{"id":"48a83ded.8d0254","type":"ui_audio","z":"b9c8c69e.c8f478","name":"","group":"58331425.fc377c","voice":"Microsoft Sabina Desktop - Spanish (Mexico)","always":"","x":500,"y":680,"wires":[]},{"id":"f0918647.fbc8a8","type":"ui_text","z":"b9c8c69e.c8f478","group":"419a6b7e.8cb874","order":0,"width":0,"height":0,"name":"","label":"Aceleracion","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":260,"wires":[]},{"id":"710a6d5d.5573f4","type":"ui_text","z":"b9c8c69e.c8f478","group":"419a6b7e.8cb874","order":0,"width":0,"height":0,"name":"","label":"Giroscopio","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":340,"wires":[]},{"id":"76b0999e.39b0c8","type":"ui_text","z":"b9c8c69e.c8f478","group":"419a6b7e.8cb874","order":0,"width":0,"height":0,"name":"","label":"Magnetometro","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":440,"wires":[]},{"id":"80dfe43e.5bd2c8","type":"ui_text","z":"b9c8c69e.c8f478","group":"419a6b7e.8cb874","order":0,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":560,"wires":[]},{"id":"f4539f53.9c1ab","type":"ui_led","z":"b9c8c69e.c8f478","order":1,"group":"f3362e81.c2a0c","width":0,"height":0,"label":"Alerta:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"29","valueType":"num"},{"color":"#008000","value":"27","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":490,"y":520,"wires":[]},{"id":"a2fcfeaa.66649","type":"mqtt in","z":"b9c8c69e.c8f478","name":"","topic":"Datos","qos":"2","datatype":"auto","broker":"51e234bb.99871c","nl":false,"rap":true,"rh":0,"x":250,"y":120,"wires":[["710e20d3.efe9d","925781c7.8d775"]]},{"id":"180bd404.6f1fdc","type":"debug","z":"b9c8c69e.c8f478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"925781c7.8d775","type":"json","z":"b9c8c69e.c8f478","name":"","property":"payload","action":"","pretty":false,"x":490,"y":60,"wires":[["ea5c6b61.a50bf"]]}]
